services:
  - type: web
    name: netflix-clone
    runtime: python3
    buildCommand: pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate
    startCommand: gunicorn django_netflix.wsgi:application --bind 0.0.0.0:$PORT
    envVars:
      - key: DEBUG
        value: False
      - key: SECRET_KEY
        value: django-insecure-@d6%u-0b2yym)nqvd#^jxk@m@rqn8bfbhxh2*kz!tbivh9&-c0
      - key: ALLOWED_HOSTS
        value: netflix-clone.onrender.com,localhost,127.0.0.1
      - key: DATABASE_URL
        fromDatabase:
          type: postgresql
          name: netflix-db
          property: connectionString
      - key: EMAIL_BACKEND
        value: django.core.mail.backends.console.EmailBackend