{% extends '../base.html' %}
{% load static %}
{% block title %}
Netflix - Set New Password
{% endblock title %}

{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}

{% block content %}
{% include '../partials/navbar.html' with AUTH='false' %}
<header class="min-h-screen w-full bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat" style="background-image: url('{% static 'background_netflix.jpg' %}');">
    <div class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12 flex items-center flex-col">
        <form method='POST' class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md">
            <h1 class="text-4xl font-semibold text-center mb-4">
                Set New Password
            </h1>
            {% csrf_token %}

            {% if form.errors %}
            <div class="text-center my-4 text-primary_red">
                <p>{{ form.non_field_errors }}</p>
                {% for field in form %}
                    {% for error in field.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            <div class='mb-4'>
                <label class='text-lg font-medium mb-3 block'>
                    New Password
                </label>
                <input class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full" type="password" name="password1" id="id_password1" placeholder="New Password" required>
            </div>

            <div class='mb-6'>
                <label class='text-lg font-medium mb-3 block'>
                    Confirm New Password
                </label>
                <input class="p-2 bg-gray-200 rounded-sm text-gray-900 outline-none block w-full" type="password" name="password2" id="id_password2" placeholder="Confirm New Password" required>
            </div>

            <div class="flex justify-center items-center">
                <button class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md hover:bg-red-700">
                    Set Password
                </button>
            </div>

            <div class="text-center my-4">
                <p>
                    <a href="{% url 'account_login' %}" class="text-red-600 hover:text-red-700">Back to Login</a>
                </p>
            </div>
        </form>
    </div>
</header>
{% endblock content %}