{% extends '../base.html' %}
{% load static %}
{% block title %}
Netflix - Reset Password Sent
{% endblock title %}

{% block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock others %}

{% block content %}
{% include '../partials/navbar.html' with AUTH='false' %}
<header class="min-h-screen w-full bg-black bg-opacity-75 showcase border-gray-600 border-b-8 flex justify-center py-20 bg-no-repeat" style="background-image: url('{% static 'background_netflix.jpg' %}');">
    <div class="z-10 h-full py-32 md:py-0 text-gray-100 w-6/12 flex items-center flex-col">
        <div class="bg-black bg-opacity-70 py-8 px-4 w-8/12 rounded-md text-center">
            <h1 class="text-4xl font-semibold mb-4">
                Check Your Email
            </h1>
            <p class="text-gray-300 mb-6">
                We've sent a password reset link to your email address. Please check your inbox and follow the instructions to reset your password.
            </p>
            <p class="text-gray-400 text-sm mb-6">
                If you don't see the email, check your spam folder.
            </p>

            <div class="text-center">
                <a href="{% url 'account_login' %}" class="py-2 px-4 bg-primary_red text-gray-100 font-medium text-lg rounded-md hover:bg-red-700 inline-block">
                    Back to Login
                </a>
            </div>
        </div>
    </div>
</header>
{% endblock content %}